// Card layout
.card {
  padding: 16px;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.li-card {
  padding: 16px;
  background-color: #fff;
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
}
