// Card layout
.card {
  padding: 16px;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.list-card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
