h1 > mat-icon,
h2 > mat-icon,
h3 > mat-icon,
h4 > mat-icon,
h5 > mat-icon,
h6 > mat-icon {
  transform: scale(0.75);
  font-size: 20px !important;
  height: 24px !important;
  opacity: 0.6;
  vertical-align: middle !important;
}

.mdc-list-item > mat-icon {
  transform: scale(0.8);
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
  color: rgb(0, 0, 0, 0.7) !important;
  vertical-align: middle !important;
}
