$img-width-sizes: 100, 200, 300, 400, 500;

@each $size in $img-width-sizes {
  .img-mw#{$size} {
    width: 100%;
    height: auto;
    max-width: #{$size}px;
  }
}

.cover {
  object-fit: cover;
  outline-offset: 0px;
  object-position: 50% 50%;
}

$entity-img-width-sizes: 60, 120, 140, 150, 230;

@each $size in $entity-img-width-sizes {
  .entity-img-#{$size} {
    // Make the image responsive
    max-width: #{$size}px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline-offset: 0px;
    object-position: 50% 50%;
    // border-radius: 10px;
  }
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  outline-offset: 0px;
  object-position: 50% 50%;
  border-radius: 10px;
}
.entity-img-140{
  max-height: 130px;

}
.list-image{
  max-width: 210px;
  width: 100%;
  height: 184px;
  object-fit: cover;
  min-width: 210px;

}