$width-sizes: 100, 200, 300, 400, 500;
$max-width-sizes: 30, 40, 50, 60, 70, 80, 90, 100;

@each $size in $width-sizes {
  .w-#{$size} {
    width: #{$size}px;
  }
}

@each $size in $max-width-sizes {
  .mw-#{$size} {
    max-width: #{$size}#{"%"};
  }
}

.mw-700px {
  max-width: 700px;
}
