@use "@angular/material" as mat;

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@include mat.core();

@import "./branding";
@import "./buttons";
@import "./cards";
@import "./grid";
@import "./icons";
@import "./layout";
@import "./links";
@import "./lists";
@import "./images";
@import "./margins";
@import "./media";
@import "./menus";
@import "./scrollbar";
@import "./sizes";
@import "./theme";
@import "./truncate";
@import "./typography";
@import "./common.scss";

.mdc-dialog__title{
    padding: 0 15px 9px !important;
}
.mdc-dialog .mdc-dialog__content {
    padding: 20px 15px 20px 15px !important;
}
.cdk-overlay-pane{
    @media (max-width:500) {
        max-width: 95vw !important;
        width: 100% !important;
    }
}
// @media (max-width:992px) {
//     .filter-aside{
//         &:not(.show){
//             .mat-drawer-side.mat-drawer-end{
//                 display: none;
//             }
//         }
//         &.show{
//             .mat-drawer[style*="visibility: hidden"],
//             .mat-drawer-side.mat-drawer-end{
//                 display: block !important;
//                 visibility: visible !important;
//             }
//         }
//     }
// }
*{
    &:not(.mat-icon,.pm-title){

        font-family: "Poppins", sans-serif !important;
    }
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .mat-mdc-menu-panel{
    min-width: 250px !important;
    padding: 0 .5rem;
  }
  .language-menu {
    max-height: 300px !important;
  }
  @media (min-width:768px) {
    .mat-mdc-dialog-container {
      .mdc-dialog__surface{
        padding: 0.7rem 2rem;
        border-radius: 32px !important;
        min-width: 640px !IMPORTANT;
      }
    }
  }