<section *ngIf="this.filters" class="filters dense-2">
  <!-- <div class="sub-section">
    <h4>
      Search texts 1
      <span
        class="clear-filter"
        *ngIf="this.filters.search"
        (click)="clearSearch()"
      >
        [x]
      </span>
    </h4>
    <mat-form-field  appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="e.g. Shakespeare"
        (keyup.enter)="updateSearch($event)"
        [(ngModel)]="filters.search"
      />
    </mat-form-field>
  </div> -->

  <div class="sub-section">
    <div>
    <h5 class="filter-by">Filter by</h5>
    </div>
    <div class="sub-nav-filters">
    <!-- <label>Modified</label>
    <span
      class="clear-filter"
      *ngIf="this.filters.modifiedLast"
      (click)="clearModifiedLast()"
    >
      [x]
    </span>
    <mat-radio-group color="primary" (change)="updateModifiedLast($event)">
      <mat-radio-button
        *ngFor="let option of modifiedLastOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.modifiedLast"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group> -->

    <button mat-stroked-button [matMenuTriggerFor]="menuModification">{{currentModification||'Modified'}}</button>
    <mat-menu #menuModification="matMenu">
      <ng-container *ngFor="let option of modifiedLastOptions">
        <button mat-menu-item (click)="updateModifiedLast2(option)">
          {{ option.text }}</button>
      </ng-container>
    </mat-menu>
<!-- 
    <label>Language</label>
    <span
      class="clear-filter"
      *ngIf="this.filters.langtag"
      (click)="clearLangTag()"
    >
      [x]
    </span>
    <br />
    <mat-form-field  appearance="outline">
      <mat-select
        (selectionChange)="updateLangTag($event)"
        [(value)]="this.filters.langtag"
      >
        <mat-option
          *ngFor="let langTag of langTagOptions"
          [value]="langTag.tag"
        >
          {{ langTag.language_name }} ({{ langTag.tag }})
        </mat-option>
      </mat-select>
    </mat-form-field>
 -->

    <div class="">
      <button mat-stroked-button [matMenuTriggerFor]="menuSort">{{filteredLanguage ||"Language"}}</button>
      <mat-menu #menuSort="matMenu" class="language-menu">
        <ng-container *ngFor="let langTag of langTagOptions">
          <button mat-menu-item (click)="updateLanguage(langTag)">
            {{ langTag.language_name }} ({{ langTag.tag }})</button>
        </ng-container>
      </mat-menu>
    </div>

    <button mat-stroked-button [matMenuTriggerFor]="Reviewdd">Review</button>
    <mat-menu #Reviewdd="matMenu">
      <ng-container *ngFor="let option of isPendingOptions">
        <button (click)="updateIsPending(option)" mat-menu-item>{{ option.text }}</button>
      </ng-container>
    </mat-menu>

<!-- 
    <br />
    <label>Review</label>
    <span
      class="clear-filter"
      *ngIf="this.filters.is_pending"
      (click)="clearIsPending()"
    >
      [x]
    </span>
    <mat-radio-group color="primary" (change)="updateIsPending($event)">
      <mat-radio-button
        *ngFor="let option of isPendingOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.is_pending"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group> -->

    <!-- <br />
    <label>Tag</label>
    <span class="clear-filter" *ngIf="this.filters.tag" (click)="clearTag()">
      [x]
    </span>
    <br />
    <mat-form-field  appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="e.g. blog"
        (keyup.enter)="updateTag($event)"
        [(ngModel)]="filters.tag"
      />
    </mat-form-field>
  -->
    <!-- <h4>
      Sort by
      <span
        class="clear-filter"
        *ngIf="this.filters.ordering"
        (click)="clearOrdering()"
      >
        [x]
      </span>
    </h4>

    <mat-radio-group color="primary" (change)="updateOrdering($event)">
      <mat-radio-button
        *ngFor="let option of orderingOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.ordering"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group> -->


    <button mat-stroked-button [matMenuTriggerFor]="menuSort2">Sort by</button>
    <mat-menu #menuSort2="matMenu">
      <ng-container *ngFor="let option of orderingOptions">
        <button (click)="updateOrdering2(option.value)" mat-menu-item>{{ option.text }}</button>
      </ng-container>
    </mat-menu>

  </div>

    <div class="flex-search-wrapper">
      <div class="search-div " [ngClass]="showSearch?'show-full':''">

        <input type="text" name="" [(ngModel)]="searchInput" (keyup)="searchHandling($event)" id="" placeholder="search">
        <span class="search-type" [matMenuTriggerFor]="searchtype">
          {{searchType || "type"}}
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
  
        <mat-menu #searchtype="matMenu">
          <button (click)="handleSearchType('Tags')" mat-menu-item>Tags</button>
          <button (click)="handleSearchType('Text')" mat-menu-item>Text</button>
        </mat-menu>
        <!-- <select name="" id="">
          <option value="">Tag</option>
          <option value="">User</option>
          <option value="">Label</option>
        </select> -->
        <button class="search" *ngIf="showSearch">
          <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="!showSearch" (click)="showSearchHandling()" class="show-search">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
