h1 {
  font-size: 32pt;
  font-family: "lemonade";
  color: #9c27b0;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-square {
  max-width: 408px;
    padding: 50px 60px 50px 60px;
    background-color: #ffffff8f;
    font-size: 14px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    border-radius: 12px;
    backdrop-filter: blur(3px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 12px;
      pointer-events: none;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
      border: 2px solid #a63db8;
  }
}

@media (max-width:530px) {
  .login-square {
    padding:  20px !important;

  }
}

mat-form-field {
  font-size: 14px !important;
  width: 100%;
}

.wrapper {
  vertical-align: middle;
}

.remember-me {
  float: left;
}

.forgot-password {
  line-height: 38px;
  margin-right: 10px;
  float: right;
}

.sign-up {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.signup-button {
  margin-top: 20px;
  padding: 28px;
  width: 100%;
  border-radius: 4px;
}

.happy-labeling {
  margin-top: 30px;
  font-family: "lemonade";
  color: #9c27b0;
  font-size: 20pt;
}

.mat-mdc-ripple-element {
  display: none !important;
}
