<h1 mat-dialog-title>About</h1>

<mat-dialog-content>
  <img src="assets/img/workbench-about-unite.png" />
  <h2>Data Stand</h2>
  <h3>Annotation Tool</h3>
  <div class="wrapper">
    <div>Copyright</div>
    <div>Data Stand © {{ currentYear }}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="wrapper">
    <div>Version</div>
    <div>0.1.0</div>
  </div>
  <mat-divider></mat-divider>
  <div class="wrapper">
    <div>Author</div>
    <div>Gustavo Mendonça</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
