<div class="wall">
  <div class="info-box">
    <h1>Data Stand</h1>
    <p>We are sorry, but Data Stand is only available for big screens :/</p>
    <img src="assets/img/workbench-big-screen.png" class="img-big-screen" />
    <p>
      The resolution of your screen must be at least
      <strong>1024 x 768 px</strong>
      to display the web app.
    </p>
    <p>
      Please see instructions below on how to change the resolution of your
      screen:
    </p>
    <ul>
      <li>
        <a
          href="https://support.apple.com/guide/mac-help/change-displays-settings-mchlca6faa13/"
          target="_blank"
          >Mac users➚</a
        >
      </li>
      <li>
        <a
          href="https://support.microsoft.com/en-us/windows/view-display-settings-in-windows-37f0e05e-98a9-474c-317a-e85422daa8bb"
          target="_blank"
          >Windows users➚</a
        >
      </li>
      <li>
        <a
          href="https://help.ubuntu.com/stable/ubuntu-help/look-resolution.html.en"
          target="_blank"
          >Ubuntu users➚</a
        >
      </li>
    </ul>
  </div>
</div>
