.home-section {
  width: 100%;
  padding: 16px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.show-more-button {
  width: 100%;
  background-color: #fff;
}

h2 {
  margin: 0;
}
