h1 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.flex-wrapper {
  display: flex;
  padding: 16px;
}

.header-img {
  margin-right: 32px;
  width: auto;
  height: 130px;
}
