
.header-img {
  margin-right: 32px;
  width: auto;
  height: 130px;
}
.no-data-found-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  .no-data-found{
    p{
      text-align: center;
      margin: 1px;
      font-weight: 500;
      font-size: 14px;
      color: #200e23a8;
      text-transform: capitalize;
    }
  }
}