<section>
  <div class="card">
    <img src="assets/img/error-pm-404.jpg" />
    <div class="card-text">
      <h1>Something went wrong...</h1>
      <h2>The page you were looking for does not exist</h2>
      <form>
        <input
          class="input-search-bar"
          matInput
          placeholder="Try searching for something else..."
        />
      </form>
      <p>
        Or you can return to our <a [routerLink]="'/pm'">home page</a>, or
        contact us on
        <a href="mailto:support@datastand.net">support@datastand.net</a> if the
        problem persists.
      </p>
    </div>
  </div>
</section>
