.chip {
  padding: 4px 8px 4px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  vertical-align: middle;
  background-color: #9c27b0;
  display: inline-block;
  height: 17px;
  display: inline-flex;
  justify-content: start;
  gap: 3px;
}
