<section *ngIf="task" class="card">
  <img [src]="task.image || urls.DEFAULT_IMG_URL" class="card-img" />
  <div class="card-content">
    <div class="card-header">
      <a
      *ngIf="task.name.length > 25; else normalLink"
      [routerLink]="urls.getTaskUrl(task.id)"
      class="title"
      [matTooltip]="task.name"
      [innerText]="task.name"
    >
    </a>
    <ng-template #normalLink>
      <a
        [routerLink]="urls.getTaskUrl(task.id)"
        class="title"
        [innerText]="task.name"
      >
      </a>
    </ng-template>
      <mat-icon class="more-actions-icon" [matMenuTriggerFor]="moreActionsMenu">
        more_vert
      </mat-icon>
    </div>
    <div class="grey-info">
      {{ task.status.ratio_completed | percent }} completed · {{ task.langtag }} ·
      {{ task.num_texts! | number }} texts ·
      {{ task.num_labels! | number }} labels · 
      {{ task.modified! | fromNow }}
      <br />
     
    </div>
    <div class="description" *ngIf="task.description">{{task.description }}</div>

    <ng-container *ngIf="showTags">
     
      <pm-tag-list-truncated [tags]="task.tags"></pm-tag-list-truncated>
    </ng-container>
  </div>

  <mat-progress-bar
  mode="determinate"
  [value]="task.status.ratio_completed * 100"
  style="max-width: 100%; height:2px; margin-top: 4px;"
></mat-progress-bar>
  <div class="card-footer">
    <pm-avatar [user]="task.creator" size="small"></pm-avatar>
  </div>

  <!-- Context menu -->
  <mat-menu #moreActionsMenu="matMenu">
    <!-- Task creator actions -->
    <button *ngIf="isCreator()" mat-menu-item (click)="openRenameTaskDialog()">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <!-- TODO(gustavoauma): Refactor this, this is too ugly -->
    <button *ngIf="isCreator()" mat-menu-item>
     
      <label [for]="'file-upload-card-' + task.id" class="change-image-button"
        ><mat-icon >image</mat-icon>Change image</label
      >
    </button>
    <input
      [id]="'file-upload-card-' + task.id"
      type="file"
      (change)="changeImage($event)"
    />
    <button *ngIf="isCreator()" mat-menu-item (click)="openUpdateTagsDialog()">
      <mat-icon>label</mat-icon>
      <span>Change tags</span>
    </button>
    <button *ngIf="isCreator()" mat-menu-item (click)="deleteTask()">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</section>
