.entity-info {
  flex: 1 1 auto;
  min-width: 0;
}

.li-card:hover {
  background-color: #f7eef9;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.hover-buttons {
  display: none;
}

.li-card:hover .hover-buttons {
  display: block;
}
