.entity-info {
  flex: 1 1 auto;
  min-width: 0;
}
.relative{
  position: relative;
}
.li-card{
  &:hover {
    background-color: #f7eef9;
  }
  @media (max-width:600px) {
      padding: 0px;
      border: 1px solid gainsboro;
      border-radius: 16px;
      .entity-info {
       padding: 0 .5rem;
      }
  }
}
@media (max-width:600px) {
  .hover-btn-wrapper {
    position: absolute;
    right:4px ;
    bottom: 11px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.avatar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {

  .hover-btn-wrapper {
 
    
  }
}

.relative {
  position: relative;
}
.list-action-btn{
  background: transparent;
  border: none;
  padding: 0;
}