<section *ngIf="this.filters" class="filters dense-2">
  <!-- <div class="sub-section">
    <h4>
      Search tasks
      <span
        class="clear-filter"
        *ngIf="this.filters.search"
        (click)="clearSearch()"
      >
        [x]
      </span>
    </h4>
    <mat-form-field  appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="e.g. Shakespeare"
        (keyup)="updateSearch($event)"
        [(ngModel)]="filters.search"
      />
    </mat-form-field>
  </div> -->

  <div class="sub-section">
    <div class="sub-nav-filters">
      <h5>Filter by</h5>
      <button mat-stroked-button [matMenuTriggerFor]="menuModification">Modified</button>
      <mat-menu #menuModification="matMenu">
        <ng-container *ngFor="let option of modifiedLastOptions">
          <button mat-menu-item (click)="updateModifiedLast2(option)">{{option.text}}</button>

        </ng-container>
      </mat-menu>
      <!-- <label>Modified</label> -->
      <!-- <span
      class="clear-filter"
      *ngIf="this.filters.modifiedLast"
      (click)="clearModifiedLast()"
    >
      [x]
    </span> -->
      <!-- <mat-radio-group color="primary" (change)="updateModifiedLast($event)">
      <mat-radio-button
        *ngFor="let option of modifiedLastOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.modifiedLast"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group> -->

      <ng-container *ngIf="isPublicFilter">
        <label>User</label>
        <span class="clear-filter" *ngIf="this.filters.creator" (click)="clearCreator()">
          [x]
        </span>
        <mat-form-field appearance="outline">
          <mat-label>User</mat-label>
          <input matInput placeholder="e.g. john" (keyup)="updateCreator($event)" [(ngModel)]="filters.creator" />
        </mat-form-field>
      </ng-container>

      <!-- <label>Language</label> -->
      <!-- <span
      class="clear-filter"
      *ngIf="this.filters.langtag"
      (click)="clearLangTag()"
    >
      [x]
    </span>
    <br /> -->
      <!-- <mat-form-field  appearance="outline">
      <mat-select
        (selectionChange)="updateLangTag($event)"
        [(value)]="this.filters.langtag"
      >
        <mat-option
          *ngFor="let langTag of langTagOptions"
          [value]="langTag.tag"
        >
          {{ langTag.language_name }} ({{ langTag.tag }})
        </mat-option>
      </mat-select>
    </mat-form-field> -->

      <div class="">
        <button mat-stroked-button [matMenuTriggerFor]="menuSort">{{filteredLanguage ||"Language"}}</button>
        <mat-menu #menuSort="matMenu" class="language-menu">
          <ng-container *ngFor="let langTag of langTagOptions">
            <button mat-menu-item (click)="updateLanguage(langTag)">
              {{ langTag.language_name }} ({{ langTag.tag }})</button>
          </ng-container>
        </mat-menu>
      </div>


      <!-- <label>Tag</label>
    <span class="clear-filter" *ngIf="this.filters.tag" (click)="clearTag()">
      [x]
    </span>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="e.g. blog" (keyup)="updateTag($event)" [(ngModel)]="filters.tag" />
    </mat-form-field> -->

      <!-- <h4>
      Sort by
      <span
        class="clear-filter"
        *ngIf="this.filters.ordering"
        (click)="clearOrdering()"
      >
        [x]
      </span>
    </h4> -->
      <button mat-stroked-button [matMenuTriggerFor]="menuSort2">Sort by</button>
      <mat-menu #menuSort2="matMenu">
        <ng-container *ngFor="let option of orderingOptions">
          <button mat-menu-item (click)="updateOrdering2(option.value)">{{option.text}}</button>

        </ng-container>
      </mat-menu>

      <!-- <mat-radio-group color="primary" (change)="updateOrdering($event)">
      <mat-radio-button
        *ngFor="let option of orderingOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.ordering"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group> -->

    </div>
    <div class="search-div " [ngClass]="showSearch?'show-full':''">

      <input type="text" name="" [(ngModel)]="searchInput" (keyup)="searchHandling($event)" id="" placeholder="search">
      <span class="search-type" [matMenuTriggerFor]="searchtype">
        {{searchType || "type"}}
        <mat-icon>arrow_drop_down</mat-icon>
      </span>

      <mat-menu #searchtype="matMenu">
        <button (click)="handleSearchType('Tags')" mat-menu-item>Tags</button>
        <button (click)="handleSearchType('Task')" mat-menu-item>Task</button>
      </mat-menu>
      <!-- <select name="" id="">
        <option value="">Tag</option>
        <option value="">User</option>
        <option value="">Label</option>
      </select> -->
      <button class="search" *ngIf="showSearch">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="!showSearch" (click)="showSearchHandling()" class="show-search">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</section>