<h1 mat-dialog-title>Import Labels</h1>
<mat-dialog-content>
  <div class="flex-container">
    <div class="items-to-add-window">
      <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()">
        <mat-form-field style="margin-bottom: -1.25em">
          <mat-label>Search label sets</mat-label>
          <input matInput type="text" formControlName="search" />
        </mat-form-field>
      </form>
      <div class="item-options">
        <table class="table-items">
          <tr *ngFor="let labelSet of labelSetOptions">
            <td class="td-entry-image">
              <img
                [src]="labelSet.image || urls.DEFAULT_IMG_URL"
                class="entity-img-60"
              />
            </td>
            <td class="td-text">
              <a [routerLink]="urls.getLabelSetUrl(labelSet.id)" target="_blank"
                >{{ labelSet.name }}↗
              </a>
              <br />
              <span class="item-subtitle"
                >ID #{{ labelSet.id }}
                ·
                {{ labelSet.num_labels! | number }} labels · Updated
                {{ labelSet.modified! | fromNow }}
              </span>
              <div class="avatar">
                <pm-avatar
                  [user]="labelSet.creator"
                  [size]="'mini'"
                ></pm-avatar>
              </div>
            </td>
            <td class="td-action-button">
              <ng-container *ngIf="!isLabelSetAdded(labelSet)">
                <button
                  mat-flat-button
                  color="primary"
                  (click)="addLabelSet(labelSet)"
                >
                  <mat-icon>add</mat-icon> Add
                </button>
              </ng-container>
              <ng-container *ngIf="isLabelSetAdded(labelSet)">
                <button mat-flat-button color="primary" [disabled]="true">
                  <mat-icon>add</mat-icon> Added
                </button>
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="added-items-window">
      <div class="count">{{ addedLabelSets.length! }} label set(s) added</div>
      <div class="added-items-scroll">
        <table class="table-items">
          <tr
            *ngFor="let labelSet of addedLabelSets; index as idx"
            class="line"
          >
            <td class="td-entry-image">
              <img
                [src]="labelSet.image || urls.DEFAULT_IMG_URL"
                class="entity-img-60"
              />
            </td>
            <td class="td-text">
              <a [routerLink]="urls.getLabelSetUrl(labelSet.id)" target="_blank"
                >{{ labelSet.name }}↗
              </a>
              <br />
              <span class="item-subtitle"
                >ID #{{ labelSet.id }}
                ·
                {{ labelSet.num_labels! | number }} labels · Updated
                {{ labelSet.modified! | fromNow }}
              </span>
              <div class="avatar">
                <pm-avatar
                  [user]="labelSet.creator"
                  [size]="'mini'"
                ></pm-avatar>
              </div>
            </td>
            <td class="td-action-button">
              <button
                mat-flat-button
                color="primary"
                (click)="deleteLabelSet(labelSet)"
              >
                <mat-icon>remove</mat-icon> Remove
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSave()"
    [disabled]="addedLabelSets.length == 0"
  >
    Save
  </button>
</mat-dialog-actions>
