.pages {
  position: relative;
  display: flex;
  gap: 4px;
}

button {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.7rem;
  height: 25px !important;
  border-radius: 4px;
  width: 25px !important;
}

.mdc-button {
  padding: 8px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

.selected {
  color: #9c27b0 !important;
  background-color: #f7eef9 !important;
  border: 1px solid #9c27b0 !important;
}

.info {
  margin-top: 4px;
}

.items-count {
  font-size: 0.7rem;
  color: rgb(0, 0, 0, 0.54);
}
