.pages {
  position: relative;
  display: flex;
  gap: 4px;
}

button {
  &.next,
  &.prev{
    font-size: 25px;
  }
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.7rem;
  height: 29px !important;
  border-radius: 4px;
  width: 30px !important;
}

.mdc-button {
  padding: 8px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.page-num {
  @media (max-width:768px) {
   &:not(.selected){
    display: none;
   }
  }
}

.selected {
  color: #9c27b0 !important;
  background-color: #f7eef9 !important;
  border: 1px solid #9c27b0 !important;
}

.info {
  margin-top: 4px;
}

.items-count {
  font-size: 0.8rem;
  color: rgb(0, 0, 0, 0.54);
}
.paginator{
  display: flex;
 align-items: center;
 gap: 1rem;
}
