

.content {
  flex: 1 1 auto;
  min-width: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .active-btn-group {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: block !important;
  }
.action-btn-absolute-md{
  position: absolute;
  top: 9px;
  right: 9px;
}
}

