.li-card:hover {
  background-color: #f7eef9;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
}

.actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.li-card {
  position: relative;
  padding: 1rem;

  .active-btn-group {
    display: none;
  }
  &:hover {
    .active-btn-group {
      display: block;
    }
  }
}
@media (max-width: 768px) {
  .active-btn-group {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: block !important;
  }
  .li-card {
    padding: 16px 16px 35px 16px;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .li-card {
    padding: 16px 0px 35px 0px !important;
  }
}
