<div
  class="li-card card-box flex-100-sb wrap"
  (mouseenter)="displayActions()"
  (mouseleave)="hideActions()"
>
  <div class="content">
    <ng-content select="[content]"></ng-content>
  </div>

  <div class="actions gap-8">
    <mat-icon class="pointer action-btn-absolute-md" [matMenuTriggerFor]="appMenu">more_horiz</mat-icon>
    <mat-menu #appMenu="matMenu">
      <ng-content select="[actions]"></ng-content>
    </mat-menu>
    <div>
      <ng-content select="[extraActions]"></ng-content>
    </div>
  </div>
</div>
