$bg-color: #f8f9fa;

@media (min-width:992px) {
  .search-bar {
    // margin-left: calc(125px + 16px);
    width: 450px;
  }
 
}
@media (min-width:768px) {

  .input-search-bar{
    min-width: 350px;
    margin-left: 2rem;
  }
}
@media (min-width:550px) {

  .input-search-bar{
    min-width: 250px;
    margin-left: 1rem;
  }
}
@media (max-width:550px) {
  .input-search-bar{
    width: calc(100% - 30px);
  }

}


.input-search-bar {
  padding: 10px 16px;
  border-radius: 20px;
  border: 0;
  caret-color: #9c27b0;
  background-color: $bg-color;
  width: 100%;
  max-width: 350px;

}

.input-search-bar:focus {
  background-color: #fff;
  outline: 1px solid #9c27b0;
}
