<loader-card *ngIf="isLoading$ | async"></loader-card>
<ng-container *ngIf="isLoaded$ | async">
  <section class="items-section" *ngIf="this.corpus">
    <div class="sticky-header">
      <div class="flex-100-sb">
        <div>
          <div class="title-with-icon">
            <mat-icon class="icon-title">text_snippet</mat-icon>
            Texts
          </div>
          <div>
            <div class="paginator">
              <pm-paginator
                [page]="page!"
                [count]="totalCount!"
                [currentPageSize]="paginatedCount!"
                [pageSize]="100"
              ></pm-paginator>
            </div>
          </div>
        </div>

        <div class="sticky-header-buttons">
          <button
            mat-flat-button
            color="primary"
            class="small"
            (click)="openCreateTextDialog()"
            *ngIf="isCreator"
          >
            <mat-icon>add</mat-icon>Add Text
          </button>
          <button
            mat-flat-button
            color="primary"
            class="small"
            (click)="openCorpusEditTextsDialog()"
            *ngIf="isCreator"
          >
            <mat-icon>recycling</mat-icon>Import Texts
          </button>
          <button
            mat-flat-button
            color="primary"
            class="small"
            (click)="openGenerateTextsDialog()"
            *ngIf="isCreator"
            [disabled]="(texts$ | async)?.length! == 0"
          >
            <mat-icon>auto_awesome</mat-icon>AI Generate
          </button>
          <button
            mat-icon-button
            mat-small-icon-button
            [matMenuTriggerFor]="textActionsMenu"
            *ngIf="isCreator"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #textActionsMenu="matMenu">
            <button mat-menu-item (click)="corporaAcceptAllSuggestions()">
              <mat-icon>done_all</mat-icon>
              <span>Accept all suggestions</span>
            </button>
            <button mat-menu-item (click)="dedupeTexts()">
              <mat-icon>filter_1</mat-icon>
              <span>Remove duplicates</span>
            </button>
            <button mat-menu-item (click)="deleteAllTexts()">
              <mat-icon>delete</mat-icon>
              <span>Delete all texts</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div
        class="bulk-actions"
        *ngIf="selectedItemIds$ | async as selectedItemIds"
      >
        <mat-checkbox
          color="primary"
          matTooltip="Select"
          (click)="toggleSelectAllItems()"
          [checked]="isAnyItemSelected()"
        ></mat-checkbox>
        <button
          mat-icon-button
          class="medium"
          matTooltip="Refresh"
          (click)="getTexts()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <ng-container *ngIf="(numSelectedItems$ | async)! > 0">
          <button
            mat-icon-button
            class="medium"
            matTooltip="Mark as reviewed"
            (click)="setTextsAsNotPending(this.corpus.id!, selectedItemIds)"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-icon-button
            class="medium"
            matTooltip="Mark as pending"
            (click)="setTextsAsPending(this.corpus.id!, selectedItemIds)"
          >
            <mat-icon>warning</mat-icon>
          </button>
          <button
            mat-icon-button
            class="medium"
            matTooltip="Use as seed for AI generation"
            (click)="setTextsAsSeeds(this.corpus.id!, selectedItemIds)"
          >
            <mat-icon>local_florist</mat-icon>
          </button>
          <button
            mat-icon-button
            class="medium"
            matTooltip="Don't use as seed for AI generation"
            (click)="setTextsAsNotSeeds(this.corpus.id!, selectedItemIds)"
          >
            <mat-icon>macro_off</mat-icon>
          </button>
          <button
            mat-icon-button
            class="medium"
            matTooltip="Remove"
            (click)="deleteTexts(this.corpus.id!, selectedItemIds)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider [vertical]="true" style="height: 16px"></mat-divider>
          <div>{{ numSelectedItems$ | async }} selected</div>
        </ng-container>
      </div>
    </div>
    <div>
      <div
        class="items-list"
        *ngIf="(texts$ | async)?.length! > 0; else noItems"
      >
        <ul>
          <li *ngFor="let text of texts$ | async">
            <pm-text-li-item
              [text]="text"
              [corpusId]="this.corpus.id!"
              [isSelected]="isItemIdSelected(text.id!)"
              (copyTextEvent)="
                addItemAboveId($event.text, $event.originalTextId)
              "
              (deleteTextEvent)="deleteItemById($event)"
              (deselectTextEvent)="deselectItemById($event)"
              (selectTextEvent)="selectItemById($event)"
            ></pm-text-li-item>
          </li>
        </ul>
      </div>
      <ng-template #noItems>
        <pm-no-data-card
          *ngIf="(texts$ | async)?.length! == 0"
          [useCard]="true"
          title="No results"
          text="No texts were found"
        ></pm-no-data-card>
      </ng-template>
    </div>
  </section>
</ng-container>
