section {
  padding: 16px;
}

h3 {
  font-weight: 500;
}

mat-slide-toggle {
  margin-top: 16px;
  margin-left: 16px;
}

mat-radio-button {
  margin-left: 7px;
}

mat-divider {
  margin: 16px 0;
}

.settings-card {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  border: 1px solid rgb(0, 0, 0, 0.12);
  margin: 16px;
}
