mat-dialog-content {
  min-height: 300px;
  max-width: 600px;
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

pm-avatar {
  display: block;
  margin-top: 15px;
  margin-left: 30px;
}
