.filters {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

mat-form-field {
  margin-right: 10px;
}

label {
  font-weight: 500;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0 20px 0;
  align-items: flex-start;
}

mat-radio-button {
  margin: -5px;
}

.filter {
  border-radius: 20px;
}

.clear-filter {
  cursor: pointer;
  color: #9c27b0;
  margin-right: 4px !important;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid ;
  padding: 0 8px;
  line-height: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;

}

.sub-section {
  margin-bottom: 20px;
}

.filter-title{
  font-size: 14px ;
  margin-bottom: 10px !important;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
 
}
