@import "../../styles/common.scss";

.data-icon {
  color: rgb(156, 39, 176);
  width: 35px;
  min-width: 35px;
  background: rgba(156, 39, 176, 0.18);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 20px;
}

.private {
  // transform: scale(0.75);
  font-size: 15px !important;
  line-height: 15px !important;
  height: 18px !important;
  width: 15px !important;
  vertical-align: middle;
}

// Title link
a {
  text-decoration: none;
  color: rgb(0, 0, 0.87);
}

a:hover {
  text-decoration: none;
}

// Card body
.description {
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 4.5em;
}

.tags {
  margin-top: 10px;
}

// More actions button
.more-actions-icon {
  // transform: scale(0.7);
  // font-size: 24px !important;
  color: rgb(0, 0, 0, 0.54);
  margin-top: -4px;
}

.more-actions-icon:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.7);
}
.title-wrapper {
  display: flex;
  white-space: nowrap;
}

.ds-card {
  background-color: white;
  .card-img{
    width: 100%;
    height: 156px;
    object-fit: cover;
    outline-offset: 0px;
    object-position: 50% 50%;
    border-radius: 10px;
  }
  .card-content{
    flex-grow: 1;
  }
  .label-number {
    color: gray;
  }
  .title {
    font-size: 1rem;
    text-transform: capitalize;
    word-break: break-word;
    font-weight: 600;
    color: #9c27b0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  // border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  border-radius: 8px;
  .published-date {
    color: #808080db;
    font-size: 11px;
  }
  .ds-card-header {
    display: flex;
    justify-content: start;
    gap: 5px;
   
    .avatar-icon {
      color: #9c27b0;
      border: 2px solid;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      min-width: 35px;
      height: 35px;
    }
    .ds-card-title-wrapper {
      flex-grow: 1;
      .ds-card-title {
        white-space: nowrap;
      }
    }
  }
  .card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
