@import "../../styles/common.scss";
.corpus-card {
  height: 100%;
  word-wrap: break-word;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.task-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
@media (max-width: 675px) {
  .corpus-card {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;

    .mat-divider {
      display: none;
    }

    .card-bottom {
      border-top: 1px solid gainsboro;
      padding: 10px;
    }
    .card-content-wrapper {
      grid-column: 2/4;
      display: flex;
      flex-direction: column;
    }
  }
}
.card-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.card-bottom {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Header
.title-wigh-grey-info {
  width: 70%;
}

.data-icon {
  color: rgb(156, 39, 176);
  width: 35px;
  min-width: 35px;
  background: rgba(156, 39, 176, 0.18);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 20px;
}

.private {
  font-size: 15px !important;
  line-height: 15px !important;
  height: 18px !important;
  width: 15px !important;
  vertical-align: middle;
}

// Title link
a {
  text-decoration: none;
  color: rgb(0, 0, 0.87);
}

a:hover {
  text-decoration: underline;
}

// Card body

.tags {
  margin-top: 10px;
}

// More actions button
.more-actions-icon {
  transform: scale(0.7);
  font-size: 24px !important;
  color: rgb(0, 0, 0, 0.54);
  margin-top: -4px;
}

.more-actions-icon:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.7);
}
.title-wrapper {
  display: flex;
  white-space: nowrap;
  width: calc(100% - 20px);
}

// new
