.data-card-container {
  padding: 16px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}
