// Card layout
.corpus-card {
  // width: 290px;
  height: 100%;
  word-wrap: break-word;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.task-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
@media (max-width: 675px) {
  .corpus-card {

    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    .title {
      font-size: 1rem;
    }
    .card-img {
      border-radius: 0px;
      min-height: 150px;
      max-height: 180px;
    }
    .mat-divider {
      display: none;
    }
    .card-content {
      height: unset !important;
      flex-grow: 1;
      padding: 0;
    }
    .card-bottom {
      border-top: 1px solid gainsboro;
      padding: 10px 0;
    }
    .card-content-wrapper {
      grid-column: 2/4;
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem 0 1rem;
 
    }
  }
}
.card-content-wrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  outline-offset: 0px;
  object-position: 50% 50%;
  border-radius: 16px 16px 0 0;
}

.card-content {
  padding: 10px 16px;
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.card-bottom {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Header
.title-wigh-grey-info {
  width: 100%;
}

.title {
  font-size: 0.9rem;
  word-break: break-word;
  font-weight: 500;
}

.grey-info {
  margin-top: -3px;
  color: rgb(0, 0, 0, 0.54);
  font-size: 0.7rem;
}

.data-icon {
  color: rgb(0, 0, 0, 0.3);
  margin-right: 10px;
  width: 30px;
}

.private {
  transform: scale(0.75);
  font-size: 15px !important;
  line-height: 15px !important;
  height: 18px !important;
  width: 15px !important;
  vertical-align: middle;
}

// Title link
a {
  text-decoration: none;
  color: rgb(0, 0, 0.87);
}

a:hover {
  text-decoration: underline;
}

// Card body
.description {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.tags {
  margin-top: 10px;
}

// More actions button
.more-actions-icon {
  transform: scale(0.7);
  font-size: 24px !important;
  color: rgb(0, 0, 0, 0.54);
  margin-top: -4px;
}

.more-actions-icon:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.7);
}
