<pm-layout-li-with-actions *ngIf="text">
  <ng-container content>
    <div class="flex gap-8">
      <mat-checkbox
        color="primary"
        [checked]="isSelected"
        (click)="toggleSelection()"
      ></mat-checkbox>

      <div class="flex-column">
        <div class="caption-2 ellipsis" *ngIf="text.name">
          Title: "{{ text.name }}"
        </div>
        <div class="mw-700px">
          <div
            (click)="openViewTextDialog(text)"
            class="title-2 a-like clamp-3"
            [title]="text.raw_string"
            [innerText]="text.raw_string"
          ></div>
        </div>
        <div class="caption-1 ellipsis">
          ID #{{ text.id }} · {{ text.langtag }} ·
          {{ text.raw_string.length! | number }} chars · Updated
          {{ text.modified! | fromNow }}
          <div *ngIf="text.description" [innerText]="text.description"></div>
        </div>
        <div class="flex gap-4">
          <is-seed-chip
            *ngIf="text.is_seed"
            [isSeed]="text.is_seed"
          ></is-seed-chip>
          <is-pending-chip
            *ngIf="text.status == 'pending'"
            [isPending]="text.status == 'pending'"
          ></is-pending-chip>
        </div>
        <pm-tag-list-truncated
          *ngIf="text.tags?.length! > 0"
          [tags]="text.tags"
        ></pm-tag-list-truncated>
      </div>
    </div>
  </ng-container>

  <ng-container actions>
    <button
      mat-icon-button
      class="medium"
      matTooltip="Display text"
      (click)="openViewTextDialog(text)"
    >
      <mat-icon>visibility</mat-icon>
    </button>
    <ng-container *ngIf="isCreator()">
      <button
        *ngIf="text.status != 'reviewed'"
        mat-icon-button
        class="medium"
        matTooltip="Mark as reviewed"
        (click)="markTextAsReviewed(text)"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        *ngIf="text.status != 'pending'"
        mat-icon-button
        class="medium"
        matTooltip="Mark as pending"
        (click)="markTextAsPending(text)"
      >
        <mat-icon>warning</mat-icon>
      </button>
      <button
        *ngIf="!text.is_seed"
        mat-icon-button
        class="medium"
        matTooltip="Use as seed for AI generation"
        (click)="markTextAsSeed(text)"
      >
        <mat-icon>local_florist</mat-icon>
      </button>
      <button
        *ngIf="text.is_seed"
        mat-icon-button
        class="medium"
        matTooltip="Don't use as seed for AI generation"
        (click)="markTextAsNotSeed(text)"
      >
        <mat-icon>macro_off</mat-icon>
      </button>
      <button
        mat-icon-button
        class="medium"
        matTooltip="Rename"
        (click)="openRenameTextDialog(text)"
      >
        <mat-icon>drive_file_rename_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        class="medium"
        matTooltip="Edit"
        (click)="openUpdateTextDialog(text)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        class="medium"
        matTooltip="Change tags"
        (click)="openUpdateTagsDialog(text)"
      >
        <mat-icon>label</mat-icon>
      </button>
      <button
        mat-icon-button
        class="medium"
        matTooltip="Make a copy"
        (click)="copyText(text)"
      >
        <mat-icon>file_copy</mat-icon>
      </button>
      <button
        mat-icon-button
        class="medium"
        matTooltip="Remove"
        (click)="deleteText(text)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </ng-container>
</pm-layout-li-with-actions>
