<h1 mat-dialog-title>Privacy Policy</h1>

<mat-dialog-content>
  <p>Effective Date: July 15, 2023</p>

  <p>
    This Privacy Policy outlines how Datastand collects, uses, discloses, and
    protects your personal information when you access and use our website
    ("Website") for the purpose of uploading, annotating, and downloading text
    files with linguistic annotations. We are committed to ensuring the privacy
    and security of your personal information and aim to provide you with a safe
    and enjoyable user experience. By accessing or using our Website, you agree
    to the terms of this Privacy Policy.
  </p>

  <h2>1. Information We Collect</h2>
  <h3>1.1 Personal Information</h3>
  <p>
    When you use our Website, we may collect certain personal information from
    you, such as your name, email address, and any other information you
    voluntarily provide to us during the registration or account creation
    process.
  </p>

  <h3>1.2 Uploaded Text Files</h3>
  <p>
    In order to provide the annotation functionality, we collect and store the
    text files you upload to our Website. We do not access, use, or disclose the
    content of your uploaded text files, including any personal or sensitive
    information contained within them, except as necessary to provide the
    annotation services and as outlined in this Privacy Policy.
  </p>

  <h3>1.3 Usage Information</h3>
  <p>
    We may collect non-personal information about your use of our Website, such
    as your IP address, browser type, operating system, device information, and
    usage patterns. This information is used to analyze and improve the
    performance and functionality of our Website.
  </p>

  <h2>2. Use of Information</h2>
  <h3>2.1 Annotation Services</h3>
  <p>
    We use the personal and uploaded text file information to provide you with
    the annotation services, enabling you to annotate linguistic annotations
    within your text files.
  </p>

  <h3>2.2 Communication</h3>
  <p>
    We may use your personal information to communicate with you, respond to
    your inquiries, and provide you with important updates, such as changes to
    our services or policies.
  </p>

  <h3>2.3 Aggregated Data</h3>
  <p>
    We may aggregate non-personal information collected from multiple users in a
    way that does not personally identify any individual, and use it for
    analytical and statistical purposes to improve our Website and services.
  </p>

  <h2>3. Information Sharing and Disclosure</h2>
  <h3>3.1 Service Providers</h3>
  <p>
    We may engage third-party service providers to assist us in providing and
    maintaining our Website. These service providers have access to your
    personal information only to perform tasks on our behalf and are obligated
    not to disclose or use it for any other purpose.
  </p>

  <h3>3.2 Legal Requirements</h3>
  <p>
    We may disclose your personal information if required to do so by law or in
    response to a valid legal request, such as a court order, government
    investigation, or as otherwise authorized by applicable law.
  </p>

  <h3>3.3 Protection of Rights</h3>
  <p>
    We may disclose your personal information to protect and defend our rights
    or property, including enforcing our Terms of Service or other agreements,
    or to investigate and prevent any illegal activities or fraud.
  </p>

  <h2>4. Data Security</h2>
  <p>
    We take reasonable measures to protect the security of your personal
    information against unauthorized access, disclosure, alteration, and
    destruction. However, please note that no method of transmission over the
    internet or electronic storage is 100% secure, and we cannot guarantee
    absolute security.
  </p>

  <h2>5. Third-Party Websites</h2>
  <p>
    Our Website may contain links to third-party websites that are not owned or
    controlled by us. We are not responsible for the privacy practices or
    content of these third-party websites. We encourage you to review the
    privacy policies of those websites before providing any personal
    information.
  </p>

  <h2>6. Children's Privacy</h2>
  <p>
    Our Website is not intended for use by individuals under the age of 13. We
    do not knowingly collect personal information from children. If you become
    aware that a child has provided us with personal information without
    parental consent, please contact us, and we will take steps to remove the
    information and terminate the child's account.
  </p>

  <h2>7. Changes to this Privacy Policy</h2>
  <p>
    We reserve the right to update or modify this Privacy Policy at any time.
    The revised policy will be effective immediately upon posting on our
    Website. We encourage you to review this Privacy Policy periodically for any
    changes. Your continued use of our Website after the posting of changes
    constitutes your acceptance of such changes.
  </p>

  <h2>8. Contact Us</h2>
  <p>
    If you have any questions or concerns about this Privacy Policy or our
    privacy practices, please contact us at
    <a href="mailto:support@datastand.net">support@datastand.net</a>.
  </p>

  <p>
    By using our Website, you acknowledge that you have read and understood this
    Privacy Policy and agree to its terms and conditions.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
