<!-- <loader-card *ngIf="isLoading()"></loader-card> -->
<div *ngIf="this.task && isLoaded()" class="">
  <div class="sticky-header">
    <div>
      <div class="title-with-icon">
        <mat-icon class="icon-title">text_snippet</mat-icon> Texts
      </div>
      <div>
        <div class="paginator">
          <pm-paginator
            [page]="page!"
            [count]="totalCount!"
            [pageSize]="100"
            [currentPageSize]="paginatedCount"
          ></pm-paginator>
        </div>
      </div>
    </div>

    <div class="sticky-header-buttons">
      <button
        mat-icon-button
        class="medium sm-btn-abs"
        matTooltip="Refresh"
        (click)="getTaskTexts(this.filters)"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="small"
        (click)="openCreateTaskTextDialog()"
        *ngIf="isCreator"
      >
        <mat-icon>add</mat-icon>Add Text
      </button>
      <button
        mat-flat-button
        color="primary"
        class="small"
        (click)="openTaskEditTaskTextsDialog()"
        *ngIf="isCreator"
      >
        <mat-icon>recycling</mat-icon>Import Texts
      </button>
      <button
        mat-flat-button
        color="primary"
        class="small"
        (click)="openGenerateTaskTextsDialog()"
        *ngIf="isCreator"
        [disabled]="items.length == 0"
      >
        <mat-icon>auto_awesome</mat-icon>AI Generate
      </button>
      <button
        mat-icon-button
        mat-small-icon-button
        class="horizon-dot 6"
        [matMenuTriggerFor]="textActionsMenu"
        *ngIf="isCreator"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #textActionsMenu="matMenu">
        <button mat-menu-item (click)="openAddTokenLayersDialog()">
          <mat-icon>space_bar</mat-icon>
          <span>Tokenize all texts</span>
        </button>
        <button mat-menu-item (click)="corporaAcceptAllSuggestions()">
          <mat-icon>done_all</mat-icon>
          <span>Accept all suggestions</span>
        </button>
        <button mat-menu-item (click)="dedupeTaskTexts()">
          <mat-icon>filter_1</mat-icon>
          <span>Remove duplicates</span>
        </button>
        <button mat-menu-item (click)="deleteAllTaskTexts()">
          <mat-icon>delete</mat-icon>
          <span>Delete all texts</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <div class="items-list" *ngIf="items?.length! > 0; else noItems">
      <div class="list-card-wrapper 7">
        <div class="card" *ngFor="let taskText of items">
          <pm-task-text-li-item
            [taskText]="taskText"
            [taskId]="this.task.id"
            (deleteTaskTextEvent)="deleteItemById($event)"
            (copyTaskTextEvent)="
              addItemAboveId($event.taskText, $event.originalTaskTextId)
            "
          ></pm-task-text-li-item>
        </div>
      </div>
    </div>
    <ng-template #noItems>
      <pm-no-data-card
        *ngIf="items?.length! == 0"
        [useCard]="true"
        title="No results"
        text="No texts were found"
      ></pm-no-data-card>
    </ng-template>
  </div>
</div>
