<pm-layout-with-right-sidenav>
  <ng-container content>
    <section class="data-cards-section">
      <pm-public-label-set-list-header-card></pm-public-label-set-list-header-card>

      <loader-card *ngIf="isLoading$ | async"></loader-card>
      <pm-layout-results-with-paginator
        *ngIf="isLoaded$ | async"
        singular="Label Set"
        plural="Label Sets"
        [totalCount]="totalCount"
        [page]="page"
        [paginatedCount]="paginatedCount"
        (refreshDataEvent)="getLabelSets()"
      >
        <ng-container listItems>
          <pm-label-set-li-item
            *ngFor="let labelSet of labelSets$ | async"
            [labelSet]="labelSet!"
            (deleteLabelSetEvent)="deleteItemById($event)"
          ></pm-label-set-li-item>
        </ng-container>
        <ng-container cardItems>
          <pm-label-set-card
            *ngFor="let labelSet of labelSets$ | async"
            [labelSet]="labelSet"
          ></pm-label-set-card>
        </ng-container>
      </pm-layout-results-with-paginator>
    </section>
  </ng-container>

  <ng-container filters>
    <pm-label-set-list-filters
      [filters]="filters!"
      [isPublicFilter]="true"
    ></pm-label-set-list-filters>
  </ng-container>
</pm-layout-with-right-sidenav>
