mat-sidenav-container {
  margin: 0;
  width: 100%;
  overflow-y: hidden;
}

mat-sidenav-content {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 60px); // 60px == $topbar height.
}

mat-sidenav {
  height: auto;
  width: 250px;
  padding: 16px;
}
@media (min-width:1200px) {
  .filter-btn-wrapper{
    display: none !important;
  }
}
.filter-btn-wrapper button{
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 99;
}