<pm-details-header-card
  *ngIf="task"
  [entity]="task"
  entityType="Task"
  [icon]="'task'"
>
  <ng-container entityGreyInfo>
    ID #{{ task.id }} · {{ task.langtag }} · Updated
    {{ task.modified! | fromNow }}
  </ng-container>
  <ng-container entityActions>
    <!-- Creator action buttons -->
    <ng-container *ngIf="isCreator">
      <button
        mat-icon-button
        class="horizon-dot"
        [matMenuTriggerFor]="actionsMenu"
        *ngIf="isCreator"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu">
        <input hidden type="file" #uploader (change)="changeImage($event)" />
        <button class="" mat-menu-item (click)="uploader.click()">
          <mat-icon>image</mat-icon>
          <span>Change image</span>
        </button>
        <button mat-menu-item (click)="openUpdateTaskDialog()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteTask()">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </ng-container>
    <!-- Non-creator action buttons -->
    <button
      mat-flat-button
      color="primary"
      class="small fork-btn"
      (click)="forkTask()"
      *ngIf="!isCreator"
    >
      <mat-icon>fork_right</mat-icon> Fork
    </button>
  </ng-container>
</pm-details-header-card>
