.results {
  margin-top: 16px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px 16px 10px 16px;
}

.results-count {
  font-size: 16px;
  font-family: "lemonade";
  color: rgb(0, 0, 0, 0.87);
  margin-bottom: -4px;
  font-weight: 600;
}
@media (max-width: 675px) {
  .data-card-container {
    display: block !important;
    border: 0px solid transparent !important;
  }
}
.data-card-container {
  border-radius: 4px;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  border-radius: 4px;
  border-bottom: 0px !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.data-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    p {
      text-align: center;
      font-weight: 500;
      color: #6e4674;
      text-transform: capitalize;
    }
    img {
      width: 160px;
      filter: hue-rotate(30deg) saturate(2.5);
    }
  }
}
