<section *ngIf="this.filters" class="filters dense-2">
  <div class="sub-section">
    <h4>
      Search labels
      <span
        class="clear-filter"
        *ngIf="this.filters.search"
        (click)="clearSearch()"
      >
        clear
      </span>
    </h4>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="e.g. Shakespeare"
        (keyup)="updateSearch($event)"
        [(ngModel)]="filters.search"
      />
    </mat-form-field>
  </div>

  <div class="sub-section">
   <h4 class="filter-title">
    Modified
    <span
      class="clear-filter"
      *ngIf="this.filters.modifiedLast"
      (click)="clearModifiedLast()"
    >
      clear
    </span>
   </h4>
    <mat-radio-group color="primary" (change)="updateModifiedLast($event)">
      <mat-radio-button
        *ngFor="let option of modifiedLastOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.modifiedLast"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group>

    Review
    <span
      class="clear-filter"
      *ngIf="this.filters.is_pending"
      (click)="clearIsPending()"
    >
      clear
    </span>
    <mat-radio-group color="primary" (change)="updateIsPending($event)">
      <mat-radio-button
        *ngFor="let option of isPendingOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.is_pending"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group>

    Tag
    <span class="clear-filter" *ngIf="this.filters.tag" (click)="clearTag()">
      clear
    </span>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="e.g. blog"
        (keyup)="updateTag($event)"
        [(ngModel)]="filters.tag"
      />
    </mat-form-field>
  </div>

  <div class="sub-section">
    <h4>
      Sort by
      <span
        class="clear-filter"
        *ngIf="this.filters.ordering"
        (click)="clearOrdering()"
      >
        clear
      </span>
    </h4>

    <mat-radio-group color="primary" (change)="updateOrdering($event)">
      <mat-radio-button
        *ngFor="let option of orderingOptions"
        [value]="option.value"
        [checked]="option.value == this.filters.ordering"
        >{{ option.text }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
</section>
