.mat-ripple-element {
  display: none !important;
}

.mdc-list-item {
  padding: 4px 16px;
  height: auto !important;
}

.event-snippet {
  font-size: 11px;
}

.bottom-icons-section {
  display: flex;
  gap: 5px;
  margin: 5px 10px 5px 10px;
}

.event-item {
  list-style-type: none;
  text-align: left;
  font-size: 10px;
}

.keep-existing {
  font-size: 10px;
}

.events-section {
  display: block;
  width: 200px;
  height: 100px;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: auto;
}

.time-to-now {
  color: #ccc;
}
