<pm-entity-li-item
  *ngIf="task"
  [entity]="task"
  [entityType]="'Task'"
  [entityUrl]="urls.getTaskUrl(task.id)"
>
  <!-- Entity info -->
  <ng-container entityGreyInfo class="ellipsis">
    {{ task.status.ratio_completed | percent }} completed · {{ task.langtag }} ·
    {{ task.num_texts! | number }} texts ·
    {{ task.num_labels! | number }} labels · Updated
    {{ task.modified! | fromNow }}
    <br />
    <mat-progress-bar
      mode="determinate"
      [value]="task.status.ratio_completed * 100"
      style="max-width: 250px"
    ></mat-progress-bar>
  </ng-container>

  <!-- Buttons -->
  <ng-container hoverButtons>
    <!-- Corpus creator actions -->
    <ng-container *ngIf="isCreator()">
      <button
        mat-menu-item
        class="medium"
        matTooltip="Rename"
        (click)="openRenameTaskDialog()"
      >
        <mat-icon>drive_file_rename_outline</mat-icon>Rename
      </button>
      <input hidden type="file" #uploader (change)="changeImage($event)" />
      <button
        mat-menu-item
        class="medium"
        matTooltip="Change image"
        (click)="uploader.click()"
      >
        <mat-icon>image</mat-icon>Change image
      </button>
      <button
        mat-menu-item
        class="medium"
        matTooltip="Change tags"
        (click)="openUpdateTagsDialog()"
      >
        <mat-icon>label</mat-icon>Change Tags
      </button>
      <button
        mat-menu-item
        class="medium"
        matTooltip="Make a copy"
        (click)="copyTask()"
      >
        <mat-icon>file_copy</mat-icon>Make a copy
      </button>
      <button
        mat-menu-item
        class="medium"
        matTooltip="Remove"
        (click)="deleteTask()"
      >
        <mat-icon>delete</mat-icon>Remove
      </button>
    </ng-container>
  </ng-container>
</pm-entity-li-item>
