<pm-layout-with-right-sidenav>
  <ng-container content>
    <section class="data-cards-section">
      <pm-my-task-list-header-card></pm-my-task-list-header-card>

      <loader-card *ngIf="isLoading()"></loader-card>
      <pm-layout-results-with-paginator
        *ngIf="isLoaded()"
        singular="Task"
        plural="Tasks"
        [totalCount]="totalCount"
        [page]="page"
        [paginatedCount]="paginatedCount"
        (refreshDataEvent)="getTasks()"
      >
        <ng-container listItems>
          <pm-task-li-item
            *ngFor="let task of items"
            [task]="task"
            (deleteTaskEvent)="deleteItemById($event)"
          ></pm-task-li-item>
        </ng-container>
        <ng-container cardItems>
          <pm-task-card *ngFor="let task of items" [task]="task"></pm-task-card>
        </ng-container>
      </pm-layout-results-with-paginator>
    </section>
  </ng-container>

  <ng-container filters>
    <pm-task-list-filters [filters]="filters!"></pm-task-list-filters>
  </ng-container>
</pm-layout-with-right-sidenav>
