span {
  border-radius: 16px;
  padding: 3px 6px;
  font-weight: 500;
  font-size: 0.7rem;
  height: 25px !important;
  min-width: none !important;
  color: rgb(0, 0, 0, 0.87);
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #545454;
  white-space: nowrap;
}
