span {
  border-radius: 10px;
  padding: 3px 6px;
  font-weight: 400;
  font-size: 0.7rem;
  height: 25px !important;
  min-width: none !important;
  color: rgb(0, 0, 0, 0.87);
  text-decoration: none;
  white-space: nowrap;
}
