mat-dialog-content {
  padding: 16px;
  max-width: 700px;
  overflow-y: scroll;
  margin: 16px;
}

// Text line
.table-lines {
  padding: 3px;
}

.td-line-idx {
  font-size: 12px;
  text-align: right;
  vertical-align: top;
  color: rgb(0, 0, 0, 0.3);
  padding: 0;
  padding-right: 10px;
  user-select: none;
}
