<h1 mat-dialog-title>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Person" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input
        matInput
        placeholder="e.g. William Shakespeare"
        formControlName="author"
      />
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Label used to tag personal names."
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>
    <pm-tags-form-field
      [tags]="form.value.tags!"
      (updateTagsEvent)="updateTags($event)"
    ></pm-tags-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Visibility</mat-label>
      <mat-select formControlName="is_public">
        <mat-option [value]="false">🔒 Private</mat-option>
        <mat-option [value]="true">Public</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [mat-dialog-close]="true"
      [disabled]="!form.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
